html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

h1 {
  margin-right: 35%;
  margin-left: 35%;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 20px;
  margin-top: 70px;
  margin-left: 30%;
  margin-right: 25%;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
